body {
    font-family: 'Arial', sans-serif;
    background: url('/static/stucco-light-surface.jpg');
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333; /* Dark text color */
    text-align: center;
    position: relative;
}

.overlay {
    display: none; /* Remove overlay */
}

.container, .featured, .testimonials, .contact, .about, .register-container {
    z-index: 2;
    padding: 20px;
    background-color: #f7efe9dd; /* White background for content */
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    width: 80%;
    margin-bottom: 20px;
    text-align: left;
    color: #333; /* Dark text color */
}

h1 {
    font-size: 4em;
    margin-bottom: 20px;
    font-weight: bold;
    color: #333; /* Dark text color */
}

h2 {
    font-size: 1.5em;
    margin-bottom: 30px;
    color: #333; /* Dark text color */
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #ecdbbb;
    color: #000000;
    text-decoration: none;
    border-radius: 50px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-size: 1.2em;
}

.button:hover {
    background-color: #d3a16f;
    transform: translateY(-3px);
}

.navbar {
    width: 100%;
    padding: 15px 0;
    position: absolute;
    top: 0;
    background: #f8f9fa; /* Light gray background color */
    z-index: 3;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline;
}

.navbar a {
    color: #333;
    text-decoration: none;
    font-size: 1.2em;
}

.navbar a:hover {
    text-decoration: underline;
}

footer {
    width: 100%;
    padding: 20px 0;
    background: #f8f9fa; /* Light gray background color */
    color: #333;
    text-align: center;
    z-index: 2;
}
